body{
    text-align:center;
    font-family:Arial;

    background-image:url("images/background.jpg");
    background-size:cover;
    background-position:center;
    min-height:100vh;
}

#timer{
    font-size:40px;
    font-weight:bold;
}

#score{
    font-size:30px;
    font-weight:bold;
    margin-bottom:10px;
}

#gameArea{
    width:700px;
    height:450px;

    margin:auto;
    position:relative;

    border:3px solid black;
    border-radius:10px;

    background-image:url("images/background.jpg");
    background-size:cover;
    background-position:center;

    overflow:hidden;
}

#character{
    width:180px;
    position:absolute;
    top:120px;
    left:250px;
}

#milkshake{
    width:100px;
    position:absolute;
    bottom:20px;
    left:20px;
    cursor:grab;
}

#message{
    font-size:24px;
    margin-top:15px;
}

#splash{
    position:absolute;
    width:150px;
    display:none;
    pointer-events:none;
    z-index:999;
}
